.a{
    background-color: #ffffff;
    padding: 5px;
    color: white;
      border: 1px solid #000000;
    font-size:larger;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
   
  }

  .b{
    font-family:'Times New Roman', Times, serif ;
    text-align: center;
    font-size:xx-large ;
   
    color:blueviolet;
  }
  
  .t,.t1{
    border-color: #000000 ;
    padding: 10;
    word-spacing: 10;
    word-spacing:1 ;
  }
  .t1{
border-style: solid;
border: 5px; ;
  }

  .t{
    border-style:groove;
  }